
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.navbar-inverse {
  background-color: #4285F4;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.top-buffer {
  margin-top:20px;
}

.vertical-center {
  align: center;
  text-align: center;  /* align the inline(-block) elements horizontally */
}

.brand-img {
  height: 35px;
  width: 35px;
  display: block;
}

.brand-text {
  color: #ffffff;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 350px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}